/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #782828;

// Code blocks
$code-block-bg-alpha: -.8;

// Navbar
$navbar-bg: #181818;
$navbar-fg: white;
